input {
    background-color: #E0EAE1;
    border: none;
    color: #0D0C0C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.inputtext {
    background-color: #E0EAE1;
    border: none;
    color: #0D0C0C;
    padding: 15px 60px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}